<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <header style="background-color: blueviolet;">
        <h1>Who are we?</h1>
    </header>
    <hr>
    <p>LoanBuffet.com is India's largest fintech co-branded Credit Card issuer and online platform
        for free Credit Score with over 50Mn registered users. Supported by global investors
        such as WSV, Experian, Eight Roads, Sequoia India, Walden International and
        Amazon, BankBazaar has been at the forefront of democratising finance
        in India by providing end users with frictionless access to credit.
    </p>

    <h2>The Management Team</h2>
    <p>(or as we would like to call them ‘The Movers’)</p>

    <a class="hoverstyle" data-description="That head boss person every company has. Only ours has been blazing a trail across New York City, San Jose, Bangalore and Mumbai, having worked with the likes of Deloitte Touche Tomahatsu's US East alliances and Cisco Systems. Packs a punch with a Master's degree in International Relations, specialised in International Finance and Business from Columbia University and a Bachelor's degree in Engineering from College of Engineering Guindy.">
        <div class="backgroudblue">
            <img src="../image/VikasMishra.jpg" class="lazy" alt="VIKAS MISHRA" title="VIKAS MISHRA" style="display: block; overflow: hidden;">
        </div>
        <div class="personname">
            <div><span class="boldstyle">Vikas Mishra</span></div>
            <div class="designationstyle">Founder &amp; CEO </div>
        </div>
        <div class="meetaperson"><span>Meet Vikas</span></div>
    </a>

    <hr>

    <footer style="background-color: gray;">
        <p style="color: whitesmoke;">Follow Us</p>
        <a target="_blank" href="https://twitter.com/bankbazaar" title="LoanBuffet Twitter" style="color: whitesmoke;"><img src="../image/twitter.jpg" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/bank_bazaar" title="LoanBuffet Linkedin" style="color: whitesmoke;"><img src="../image/linkedin.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/bankbazaar/" title="LoanBuffet Facebook" style="color: whitesmoke;"><img src="../image/facebook.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://instagram.com/bankbazaar/" title="LoanBuffet Instagram" style="color: whitesmoke;"><img src="../image/instagram.jpg" alt="" width="20"></a>

        <br>
        <br>
        <a href="aboutus.html" target="_blank" style="color: whitesmoke;">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="careers.html" target="_blank" style="color: whitesmoke;">Careers</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="contactus.html" target="_blank" style="color: whitesmoke;">Contact Us</a>
        <br>
        <p>Copyright &copy; 2023 LoanBuffet.com</p>
    </footer>

</body>
</html>