<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <header style="background-color: blueviolet;">
        <h1>Contact Us</h1>
        <nav style="text-align: right;">
            <a href="{{url_for('gethome')}}" style="color: white;">Home</a>
        </nav>
    </header>

    <form name="contactusdata" action="{{url_for('getcontactus')}}" method="post"></form>

    <h3>Write us</h3>
    <p>Vikasbca08@gmail.com</p>
    <h3>Corporate Address</h3>
    <p>4/304, Trilok Puri, New Delhi-110091</p>
    <h3>Mobile</h3>
    <p>+91-9910193220</p>
    <h3>Facebook</h3>
    <p>www.facebook.com</p>
    <h3>twitter</h3>
    <p>vikasbca08</p>

    <hr>

    <footer style="background-color: gray;">
        <p style="color: whitesmoke;">Follow Us</p>
        <a target="_blank" href="https://twitter.com/bankbazaar" title="LoanBuffet Twitter" style="color: whitesmoke;"><img src="../static/images/twitter.jpg" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/bank_bazaar" title="LoanBuffet Linkedin" style="color: whitesmoke;"><img src="../static/images/linkedin.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/bankbazaar/" title="LoanBuffet Facebook" style="color: whitesmoke;"><img src="../static/images/facebook.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://instagram.com/bankbazaar/" title="LoanBuffet Instagram" style="color: whitesmoke;"><img src="../static/images/instagram.jpg" alt="" width="20"></a>

        <br>
        <br>
        <a href="{{url_for('getabout')}}" target="_blank" style="color: whitesmoke;">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcareer')}}" target="_blank" style="color: whitesmoke;">Careers</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcontactus')}}" style="color: whitesmoke;">Contact Us</a>
        <br>
        <p>Copyright &copy; 2023 LoanBuffet.com</p>
    </footer>
    
</body>
</html>