<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Buffet | Home</title>
</head>
<body style="background-color:powderblue;">
    <Header style="background-color: purple;">
        <h1  style="text-align: center; color: white;">Loan Buffet</h1>
        <nav style="text-align: right;">
            <a href="{{url_for('loginpage')}}" target="_blank" style="color: whitesmoke;">Login/Sign Up</a>
        </nav>

        <nav>
            <a href="{{url_for('gethome')}}" style="color: whitesmoke;">Home </a>&nbsp;&nbsp;
            <a href="{{url_for('typeofloan')}}" style="color: whitesmoke;">Type of Loan </a>&nbsp;&nbsp;
            <a href="{{url_for('requestform')}}" style="color: whitesmoke;">Raise a query </a>&nbsp;&nbsp;
            <a href="{{url_for('getcontactus')}}" style="color: whitesmoke;">Contact Us </a>
    
        </nav>
    </Header>
    
    <hr style="color: crimson;">
    
    <form name="homedata" action="{{url_for('gethome')}}" method="get"></form>
    <main>
        <section>
            <h2>Credit Products</h2>
            <ol type="i">
                <li>Credit Cards <img src="../static/images/credit-card.webp" alt="" width="100"> <nav><a href="{{url_for('requestform')}}">apply here</a></nav></li>
                <li>Personal Loan <img src="../static/images/personal_loan.jpg" alt="" width="100"> <nav><a href="{{url_for('requestform')}}">apply here</a></nav></li>
                <li>Business Loans <img src="../static/images/business_loan.jpg" alt="" width="100"> <nav><a href="{{url_for('requestform')}}">apply here</a></nav></li>
                <li>Balance Trasfer <img src="../static/images/bt.jpg" alt="" width="100"> <nav><a href="{{url_for('requestform')}}">apply here</a></nav></li>
                    <ol type="1">
                        <li>Personal Laon</li>
                        <li>Home Laon </li>
                        <li>Laon Against Property </li>
                    </ol>
                <li>Loan Against Property <img src="../static/images/loan_against_property.jpg" alt="" width="100"> <nav><a href="{{url_for('requestform')}}">apply here</a></nav></li>
                <li>Home Loan <img src="../static/images/home_loan.jpg" alt="" width="100"> <nav><a href="{{url_for('requestform')}}">apply here</a></nav></li>
            </ol>
        </section>
    </main>

    <hr>

    <footer style="background-color: gray;">
        <p style="color: whitesmoke;">Follow Us</p>
        <a target="_blank" href="https://twitter.com/bankbazaar" title="LoanBuffet Twitter" style="color: whitesmoke;"><img src="../static/images/twitter.jpg" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/bank_bazaar" title="LoanBuffet Linkedin" style="color: whitesmoke;"><img src="../static/images/linkedin.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/bankbazaar/" title="LoanBuffet Facebook" style="color: whitesmoke;"><img src="../static/images/facebook.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://instagram.com/bankbazaar/" title="LoanBuffet Instagram" style="color: whitesmoke;"><img src="../static/images/instagram.jpg" alt="" width="20"></a>

        <br>
        <br>
        <a href="{{url_for('getabout')}}" target="_blank" style="color: whitesmoke;">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcareer')}}" target="_blank" style="color: whitesmoke;">Careers</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcontactus')}}" target="_blank" style="color: whitesmoke;">Contact Us</a>
        <br>
        <p>Copyright &copy; 2023 LoanBuffet.com</p>
    </footer>
</body>
</html>