<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type of Loans</title>
</head>
<body>
    <header>
        <h1>Different type's of Loan available in India</h1>
        <nav>
            <a href="{{url_for('gethome')}}">Home</a>
        </nav>
    </header>

    <p>A loan is essentially money borrowed with a promise of return within a specific period/tenure.
        The lender decides a fixed rate of interest that you must pay on the money borrow, along with the principal amount borrowed.
        Here different types of loan available in India.
    </p>
    <h3>Type of loans</h3>
    <p>There are basically 2 type of loan offererd in India</p>
    <ol type="I">
        <li>Secured Loan</li>
        <li>Unsecured Loan</li>
    </ol>
    <h4>Secured Loans</h4>
    <p>The loans that require collateral are the ones where you have to pledge an asset as security
        for the money you borrowing to the lender.
    </p>
    <h3>Types of secured loans</h3>
    <ol type="I">
        <li>Home Loan</li>
        <li>Laon Against Property (LAP)</li>
        <li>Laons Against Insurance Policies</li>
        <li>Gold Loan</li>
        <li>Loan Against Mutual Funds And Shares</li>
        <li>Loan against fixed deposits</li>
    </ol>

    <h4>Unsecured Loans</h4>
    <p>These are loans that dosen't require collateral. The lender gives you the money based on past 
        associations, your credit score and history.
    </p>
    <h3>Types of unsecured loans</h3>
    <ol type="I">
        <li>Personal Loan</li>
        <li>Short Term Business Loan</li>
        <ol type="1">
            <li>Flexi Loans</li>
            <li>Business Loans</li>
            <li>Education Loans</li>
            <li>Vehicle Loans</li>
        </ol>
    </ol>

    <hr>

    <footer style="background-color: gray;">
        <p style="color: whitesmoke;">Follow Us</p>
        <a target="_blank" href="https://twitter.com/bankbazaar" title="LoanBuffet Twitter" style="color: whitesmoke;"><img src="../static/images/twitter.jpg" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/bank_bazaar" title="LoanBuffet Linkedin" style="color: whitesmoke;"><img src="../static/images/linkedin.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/bankbazaar/" title="LoanBuffet Facebook" style="color: whitesmoke;"><img src="../static/images/facebook.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://instagram.com/bankbazaar/" title="LoanBuffet Instagram" style="color: whitesmoke;"><img src="../static/images/instagram.jpg" alt="" width="20"></a>

        <br>
        <br>
        <a href="{{url_for('getabout')}}" target="_blank" style="color: whitesmoke;">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcareer')}}" target="_blank" style="color: whitesmoke;">Careers</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcontactus')}}" target="_blank" style="color: whitesmoke;">Contact Us</a>
        <br>
        <p>Copyright &copy; 2023 LoanBuffet.com</p>
    </footer>
</body>
</html>