<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userForm_pass</title>
</head>
<body>
    <header style="background-color: blueviolet;">
        <h1>You have requested with below given details</h1>
        <nav style="text-align: right;">
            <a href="{{url_for('gethome')}}" style="color: white;">Home</a>
        </nav>
    </header>

    <h1>request_number : {{request_number}}</h1>
    <h1>Request_for : {{request_for}}</h1>
    <h1>Name of the requestor: {{fname, mname, lname}}</h1>
    <h1>Gender : {{gender}}</h1>
    <h1>Date of Birth : {{dob}}</h1>
    <h1>Address : {{address}}</h1>
    <h1>Pincode : {{pincode}}</h1>
    <h1>State : {{state}}</h1>
    <h1>Marital Status : {{marital_status}}</h1>
    <h1>Email : {{email}}</h1>
    <h1>Mobile : {{mobile}}</h1>
    <h1>Salary :{{salary}}</h1>
    <h1>Liability : {{liability}}</h1>
    <h1>Dependent : {{dependent}}</h1>

    <hr>

    <footer style="background-color: gray;">
        <p style="color: whitesmoke;">Follow Us</p>
        <a target="_blank" href="https://twitter.com/bankbazaar" title="LoanBuffet Twitter" style="color: whitesmoke;"><img src="../static/images/twitter.jpg" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/bank_bazaar" title="LoanBuffet Linkedin" style="color: whitesmoke;"><img src="../static/images/linkedin.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/bankbazaar/" title="LoanBuffet Facebook" style="color: whitesmoke;"><img src="../static/images/facebook.png" alt="" width="20"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://instagram.com/bankbazaar/" title="LoanBuffet Instagram" style="color: whitesmoke;"><img src="../static/images/instagram.jpg" alt="" width="20"></a>

        <br>
        <br>
        <a href="{{url_for('getabout')}}" target="_blank" style="color: whitesmoke;">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcareer')}}" target="_blank" style="color: whitesmoke;">Careers</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{url_for('getcontactus')}}" target="_blank" style="color: whitesmoke;">Contact Us</a>
        <br>
        <p>Copyright &copy; 2023 LoanBuffet.com</p>
    </footer>

</body>
</html>